---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <div class="prose prose-xl dark:prose-invert mx-auto px-4 py-12">
    <h1>About Me</h1>
    <p>
      Hello! I'm Darpan Jain, and this is my personal blog. I'm passionate about
      [your interests/profession/hobbies].
    </p>
    
    <h2>What I Do</h2>
    <p>
      [Describe your current role, projects, or activities]
    </p>
    
    <h2>My Journey</h2>
    <p>
      [Share your background and experiences]
    </p>
    
    <h2>Connect With Me</h2>
    <ul>
      <li><a href="https://twitter.com/darpanjain">Twitter</a></li>
      <li><a href="https://linkedin.com/in/darpanjain9">LinkedIn</a></li>
      <li><a href="https://github.com/inboxdarpan">GitHub</a></li>
    </ul>
  </div>
</Layout>
